
composer.lock
composer.phar

*/logs/*
*/cache/*
*.iml

vendor/*

vagrant/.vagrant

cache/*

projectFilesBackup
.DS_Store
.idea
.project
.plugins
.buildpath
.eclipse
.settings
.~lock*
atlassian-ide-plugin.xml
nbproject/*
build/*
