.content-outer {
    margin-top: 75px;
}

.glyphicon-left {
    padding-right: 0.5em;
}

.user-forms ul.nav-tabs {
    margin-bottom: 25px;
}

.user-forms img.avatar {
    float: left;
    margin-right: 25px;
}

ul.form-errors {
    list-style-type: none;
    padding: 0;
}

.form-group ul.form-errors {
    font-size: smaller;
    color: red;
}