.content-outer {
    margin-top: 75px;
}

.glyphicon-left {
    padding-right: 0.5em;
}

.user-forms form {
    padding-top: 25px;
}

ul.form-errors {
    list-style-type: none;
    padding: 0;
}

.form-group ul.form-errors {
    font-size: smaller;
    color: red;
}